<div class="eleva-product-trust" aria-label="Informazioni di fiducia per l'acquisto">
  <div class="eleva-product-trust__item">
    <span class="eleva-product-trust__dot" aria-hidden="true"></span>
    <span class="eleva-product-trust__label">Spedizione gratis oltre 50€</span>
  </div>
  <div class="eleva-product-trust__item">
    <span class="eleva-product-trust__dot" aria-hidden="true"></span>
    <span class="eleva-product-trust__label">Reso entro 30 giorni</span>
  </div>
  <div class="eleva-product-trust__item">
    <span class="eleva-product-trust__dot" aria-hidden="true"></span>
    <span class="eleva-product-trust__label">Garanzia 2 anni</span>
  </div>
  <div class="eleva-product-trust__item">
    <span class="eleva-product-trust__dot" aria-hidden="true"></span>
    <span class="eleva-product-trust__label">Pagamento sicuro</span>
  </div>
</div>
